[[source]]
verify_ssl = true
url = "https://pypi.org/simple"
name = "pypi"

[packages]
numpy = "*"
pandas = "*"
bokeh = "*"
jupyter = "*"
requests = "*"
mapboxgl = "*"

[dev-packages]

[requires]
python_version = "3.5"
